.movieimg{
    height: 300px;
    object-fit: cover; 
}

@media screen and (max-width: 1200px) {
    .movieimg{
        height: 200px;
    }
}
@media screen and (max-width: 992px) {
    .movieimg{
        height: 170px;
    }
}